* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-p1 {
    padding: 1rem 22rem;
}
#navBar {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.num {
    border: 1px solid rgb(22, 46, 124);
    background-color: rgb(22, 46, 124);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40px;
    color: white;
}

#navBar .right-side {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 28px;
    font-weight: 200;
}

#navBar .left-side {
    font-size: 30px;
    font-weight: 200;
}

.grey {
    color: grey;
    font-size: 25px;
    font-weight: 300;
}

#navBar .left-side .grey:hover {
    color: rgb(22, 46, 124);
    cursor: pointer;
}

.noti {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.mark{
    padding-top: 25px;
    font-size: 22px;

}

.mark a{
    text-decoration: none;
    color: rgb(74, 74, 87);
}
.mark a:hover{
    text-decoration: underline;
    color: rgb(22, 46, 124);
}
.str:hover {
    color: rgb(22, 46, 124);
    cursor: pointer;
}
.markk a{
    color: rgb(22, 46, 124);
}

.gray{
    padding-bottom: 5px;
}
.text {
    border: 1px solid rgb(107, 105, 105);
    width: 650px;
    height: 15vh;
    padding: 10px 15px;
    font-size: 25px;
    overflow-y: hidden;
    color: rgb(107, 105, 105);
}
.text:hover{
    background-color: rgb(229, 236, 252);
    border: transparent;
    cursor: pointer;
}

.img1{
    padding-left: 170px;
}

.logo {
  padding-top: 10px;
  padding-left: 10px;
}

#not-read .notii {
    background-color: rgb(213, 224, 248);
}
@media(max-width: 550px) {
    .section-p1{
        padding: 15px 5px;
        overflow-x: hidden;
    }
    .text {
        border: 1px solid rgb(107, 105, 105);
        width: 400px;
        height: 25vh;
        padding: 10px 15px;
        font-size: 25px;
        overflow-y: hidden;
        color: rgb(107, 105, 105);
    }

    .img1{
padding-left: 0;
    }
    
}
@media(max-width: 770px){
    body{
        overflow-x: hidden;
    }
    .section-p1 {
        padding: 10px 10px;
    }

}
